body {
  background-color: #fcfdff;
}

#headerText {
  font-size: 18px;
  color: white;
}

#headerTitle {
  padding: 10px;
  font-size: 30px;
  color: white;
  text-align: left;
}

#masthead {
  background-color: #242526;
  width: 100%;
  color: white;
  text-align: right;
}

#logo {
  width: 140px;
  height: 60px;
}

#headRight {
  text-align: right;
  width: 10%;
}

#headSearch {
  width: 90%;
}

#postJob {
  display: none;
  color: white;
  background-color: #3d3d3d;
  background-image: linear-gradient(#242526, #44e0f4);
  width: 100%;
}

#warning {
  display: none;
  background-color: #3d3d3d;
  color: white;
}

.headInput {
  width: 100%;
  padding: 10px;
  margin: 10px;
}

#submitBut {
  margin: 10px
}

input[type=text] {
  padding: 5px 10px;
  margin: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

#submit {
  background: #f4f4f4;
  border: none;
  color: black;
  padding: 5px 10px;;
  border-radius: 3px;
  margin: 8px;
  font-size: 17px;
  transition: 0.3s;
}

#submit:hover {
  background: #e8eaea;
}

.myStyle {
  list-style-type: none;
}

.jobsEntries {
  background-color: #f2f3f4;
  margin: 20px;
  border: 1px solid;
  border-radius: 2px;
  padding: 10px;
}

.jobsEntries:hover {
  transform: scale(1.01);
  box-shadow:  0.01em 0.01em .1em #343A40;
  background-color: #f1f1f1;
  transition: background .07s ease-in;
}

.jobsEntries span {
  display: none;
}

.jobsEntries:hover span {
  display: block;
}

.jobLink {
  color: black;
  text-decoration: none;
}

.jobLink:hover {
  color: black;
  text-decoration: none;
}

#refSearch {
  float: left;
  display: none;
  background-color: #eaeaea;
  background-image: linear-gradient(to right, #c9c9c9, #f9f9f9);
  height: 100vh;
  width: 20%;
}

#Gsignin {
  background-color: #242526;
  border: none;
  display: block;
}

#Gsignout {
  display: none;
}
