#headerText {
  font-size: 18px;
  color: white;
}

#headerTitle {
  font-size: 80px;
  color: white;
}

#masthead {
  background-color: #3d6fbf;
}

#AddEvent {
  display: none;
}

.CreatedEvent {
  color: black;
  background-color: #efefef;
  border-style: solid;
  font-size: 20px;
}
