#headerText {
  font-size: 18px;
  color: white;
}

#headerTitle {
  padding: 10px;
  font-size: 30px;
  color: white;
  text-align: left;
}

#masthead {
  background-color: #242526;
  width: 100%;
}

#logo {
  width: 140px;
  height: 60px;
}

#headRight {
  text-align: right;
  width: 10%;
}

#headSearch {
  width: 100%;
}

#postJob {
  display: none;
  color: white;
}

.headInput {
  width: 49%;
}
